{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
   {% if category %}
     {{category.desc|truncatewords:155}}
   {% else %}
    Welcome to All In Bloom Collections where you can buys different items...
   {% endif %}
{% endblock %}

{% block title %}
  {% if category %}
     {{category.name}} - All in Bloom Collections
  {% else %}
  See our New Collections - All in Bloom Collections
  {% endif %}
{% endblock %}
{% block content %}

<div class="container py-5">
    <h1>Register</h1>
    <form method="post">
       {% csrf_token %}
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="first_name" placeholder="Enter your first name"><br>
    <input type="text" name="last_name" placeholder="Enter your last name"><br>
    <input type="email" name="email" placeholder="Enter your email"><br>
    <input type="password" name="password" placeholder="Enter your password"><br>
    <input type="password" name="password1" placeholder="Conform your password"><br>
    <button class="btn btn-primary" type="submit">Register</button>

    </form>
    {% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
    <p class="text-center">If you already have an account,  <a href="{% url 'LoginView' %}">login</a>  instead </p>

</div>

{% endblock %}



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Registration</title>-->
<!--</head>-->

<!--<body style="background-color:tomato;text-align:center;font-size:160%;background-image:url('banner.png');padding:14px;">-->

<!--<h2 style="background-color:blue;text-align:center">WELCOME TO ALL IN BLOOM REGISTRATION</h2>-->

<!--<form action="{% url 'register_user' %}" method="POST">-->
<!--    {% csrf_token %}-->
<!--    <input type="text" name="username" placeholder="username"><br>-->
<!--    <input type="text" name="first_name" placeholder="Enter your first name"><br>-->
<!--    <input type="text" name="last_name" placeholder="Enter your last name"><br>-->
<!--    <input type="email" name="email" placeholder="Enter your email"><br>-->
<!--    <input type="password" name="password" placeholder="Enter your password"><br>-->
<!--    <input type="password" name="password1" placeholder="Conform your password"><br>-->
<!--    <input type="submit">-->
<!--</form>-->
<!--{% for msg in messages %}-->
<!--<h2>{{msg}}</h2>-->
<!--{% endfor %}-->
<!--</body>-->
<!--</html>-->